* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;

}


a {
    color: black;
}
html {
    scroll-behavior: smooth;
}

.logo {
    display: flex;
    justify-content: center; 
      margin-bottom: 10px;  
      align-items: center;
}
.main-header {
    padding: 20px 0;
}
.nav-link.active {
    color: #979797 !important;
}

.nav-link:hover {
    color: #988f8f !important;
}


.navbar-nav ul li {
    padding: 0 20px !important;
}

.bg-light {
    background-color: white !important;
}


.search {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.search-icon {
    width: 18px;
    cursor: pointer;
}
.search-input {
    width: 0;
    opacity: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
}

.navbar-expand-lg .navbar-nav .nav-link {
            font-weight: bold;
        font-size: 13px;
        color: black;
        text-transform: uppercase;
}
.navbar-nav  li {
    padding: 0 10px;
}
.menu-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-icon {
    width: 20px;
    cursor: pointer;
}

.menu_icon img {
    width: 20px;
    cursor: pointer;
    
}

.menu_icon img:hover {
    opacity: 0.7;
    transform: scale(1.1);
    transition: transform 0.2s, opacity 0.2s;
}




.section-space {
    padding: 50px 0;
}

/* banner */

.banner-bg {
    background: url('../images/banner.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding: 60px 0;
    min-height: 350px;
    background-position: center bottom;
    background-size: cover;

}

.banner-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.banner-box {
    background: #0000005C;
    color: #fff;
    padding: 40px;
        max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.banner-box h2 {
    font-weight: bold;
}
.button {
     background: #ffffff;
    color: #000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;           
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    display: inline-flex;         
    align-items: center;          
    justify-content: center;
    gap: 8px;                     
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
}

.button:hover {
    background: #000 !important;
    color: #fff !important;
    border: 0;
}


.button_black {
    background: #070707 !important;
    color: #ffffff !important;

}

.button_black:hover {
    background: #fffdfd !important;
    color: #100f0f !important;
    border: solid 1px #0000005C !important;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.heading {
    text-align: center;
    display: block;
    align-items: center;
    margin-bottom: 30px;
}
.heading h1 {
    font-weight:bold;
}

.heading p {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    color: #616161;

}

.head-line {
  width: 120px;      
  height: 3px;       
  background-color: #000; 
  border: none;     
  margin: 20px auto; 
}

.product {
    position: relative;
    height: 420px;
    overflow: visible;
}

.product p {

    margin-bottom: 0 !important;
}

.product-img {
    height: 100%;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card.small {
    position: relative;
    height: 200px;
    overflow: visible;
}

.product-card.small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-overlay {
    position: absolute;
    bottom: -20px;
    left: 20px;
    right: 20px;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 15px 10px
}

.product-overlay a {

    color: #B4B4B4;
}
.product-overlay p {
    margin-bottom: 0 !important;
}
.project {
    text-align: center;
    overflow: hidden;
    margin-top: 30px;
}

.project img {
    margin-bottom: 20px;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1); /* smooth */
    transform-origin: center center;
    cursor: pointer;
}

.project img:hover {
    transform: scale(1.05); 
}
.footer{
background:#000;
color:#fff;
padding:60px 0;
}

.footer ul{
list-style:none;
padding:0;
}

.footer ul li{
margin-bottom:8px;
}

.social i{
margin-right:10px;
cursor:pointer;
}


.social {
    display: flex;          
    gap: 15px;              
    align-items: center;   
  }

  .social img {
    
    cursor: pointer;
    transition: transform 0.2s;
  }

  
    .social img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);

  }

.f-logo img {
    max-width: 150px;
}

 .f-menu h6 {
    margin-bottom: 10px;
    color: #ffffff;
  }

  /* List style */
  .f-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .f-menu li {
    margin-bottom: 8px;
  }

  .f-menu a {
    text-decoration: none;
    color: #A4A4A4;       
    transition: color 0.3s; 
  }

  .f-menu a:hover {
    color:white;      
  }

/* responsive */

@media(max-width:768px){

.banner-bg{
height:auto;
justify-content:center;
}

.banner-box{
text-align:center;
padding: 20px;
}

.project {
    margin: 15px;

}

.heading p {
    width: 100%;
}

.footer {
   
    padding: 30px 10px;
}
.f-menu {
  margin-top: 40px;   
}
.logo {
    
    border-bottom: 1px solid #cccc;
    padding-bottom: 15px;
    align-items: center;
      
}


.logo img {
    width: 25%;
            margin: 0 auto;
}
.product {
    
    margin-bottom: 50px;
}
.section-space {
    padding: 25px 0;
}

.f-logo img {
    width: 30%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 13px;
    color: black;
    text-transform: uppercase;
    padding: 15px 0;
}

.rigt-icon {
       margin: 30px 15px 0; 
}
.button {
    width: 100%;
}
}